* {
  line-height: 160%;
}

.title {
  font: bold 16pt 'Malgun Gothic', sans-serif;
}

.subtitle {
  font: 12pt 'Malgun Gothic', sans-serif;
}

.author {
  font: 10pt 'Malgun Gothic', sans-serif;
}

.date {
  font: 10pt 'Malgun Gothic', sans-serif;
}

.body {
  font: 12pt 'Malgun Gothic', sans-serif;
}

.footer {
  font: italic 10pt 'Malgun Gothic', sans-serif;
}
