* {
  line-height: 160%;
  font-family: 'Malgun Gothic', sans-serif;
}

.title {
  font-size: 24pt;
  font-weight: bold;
}

.subtitle {
  font-size: 14pt;
}

.author {
  font-size: 10pt;
}

.date {
  font-size: 10pt;
}

.body {
  font-size: 12pt;
}

.copyright {
  font-size: 8pt;
}
